body{
	 background-color: silver;
}

#container{
	background-color: white;
	box-shadow: 0 0 15px black;
}

header{
	margin-top: 15px; 
	background-color: black;
	color: orange;
	font-size: 300%;
	line-height: 300%;
	text-align: center;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	letter-spacing: 3px;
	padding: 6px;
	margin-bottom: 15px;
}

article{
	border-left: 1px solid silver;
		border-right: 1px solid silver;
}
.shadow{
 box-shadow: 0 0 15px gray;
 background-color: Linen;
}

#diagramm{
	width: 100%;
	height: 400px;
}

#naptar{
	width: 100%;
	height: auto;
}


.menu{
	list-style-type: none;
	border: 0;
	margin: 0;
	padding: 10px 0;
}

.menu li{
 	border-bottom: 10px solid Linen;
 	cursor: pointer;
}

.menu li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color: black;
	background-color: silver;
	transition: all 0.6s;
}

.menu li a:hover{
	color: white;
	background-color: orange;
	transition: all 0.2s;
	text-shadow: 0 0 1px black;
	font-weight: bold;
	padding-left: 20px;
}

.r{
	text-align: right;
}
.l{
	text-align: left;
}
.c{
	text-align: center;
}
.j{
	text-align: justify;
}

#naptar{
	height: 600px;
}

.box{
	
	box-shadow: 0 0 10px gray;
	min-height: 250px;
}

.online{
	color: green;
}

.offline{
	color: gray;
}

.blokked{
	color: red;
}

.red{
	background-color: red;
}

.green{
	background-color: green;
}

.catbadge{
	position: absolute;
	right: 30px;
	text-align: right;
	background-color: white;
	color: black;
}

.redbadge{
	position: absolute;
	right: 60px;
	text-align: right;
	background-color: red;
	color: white;
}

.greenbadge{
	position: absolute;
	right: 30px;
	text-align: right;
	background-color: green;
	color: white;
}
.inaktiv {
	color: silver;
}

#chart{
	width: 100%;
	height: 200px;
}

.img-thumbnail{
	max-width: 150px;
}


.panel p{
	text-align: justify;
	line-height: 200%;
}

.panel{

	padding: 0;
}